{% extends "base.html" %}

{% block title %}Ekb-City{% endblock %}

{% block content %}
<div>
<h3>Enter part of address to the field below</h3>
<form action="/" method="post">
    {% csrf_token %}
    <textarea class="form-control" rows=5 name="address" placeholder="address" tabindex="1"></textarea>
    <button class="btn btn-default" style="width:100%;margin-top=10px;" tabindex="2" type="submit"><i class="glyphicon glyphicon-fire glyphicon-white"></i> Find them all!</button>
</form>
</div>
{% endblock %}
